html, body {
    font-family: 'Orbitron', serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,9,121,1) 20%, rgba(32,4,119,1) 90%);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

a {
    color: white;
}

a:hover {
    color: red;
}

.header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}

#gameCanvas {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score {
    text-align: center;
    font-size: 140px;
    font-family: 'Orbitron', serif;
}

#resumeGame, #pauseGame, #restartGame {
    display: none;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.buttonContainer button {
    margin: 0 5px;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 12px;
}

.complete {
    text-decoration: line-through;
    text-decoration-color: chartreuse;
}

.highScore {
    line-height: 1.5em;
}