html, body {
    font-family: 'Orbitron', serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(102,9,121,1) 20%, rgba(32,4,119,1) 90%);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    max-width: 90vw;
    margin: 10px 30px;
}

a {
    color: white;
}

a:hover {
    color: red;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px 0;
}

.subTitle {
    margin: 0 0 10px 0;
}

.gameContainer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 50px;
}

#gameCanvas {
    margin: 10px 0 0 0;
    grid-column-start: 2;
    grid-column-end: 5;
    place-self: center;
}

#score {
    text-align: center;
    font-size: 140px;
    font-family: 'Orbitron', serif;
}

#resumeGame, #pauseGame, #restartGame {
    display: none;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.buttonContainer button {
    margin: 0 5px;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 12px;
}

.btn {
    cursor: pointer;
    font-size: 12px;
    font-family: 'Orbitron', serif;
    padding: 10px 5px 5px 5px;
    background: transparent;
    font-weight: 700;
    margin: 0;
    border: none;
    border-bottom: 1px solid black;
    color: white;
    text-align: center;
}

.btn:hover {
    color: chartreuse;
    background: black;
}

.complete {
    text-decoration: line-through;
    text-decoration-color: chartreuse;
}

.highScore {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 1;
    line-height: 1.5em;
    letter-spacing: .2em;
}

.highScore h3 {
    text-decoration: underline;
    text-decoration-color: yellow;
    font-weight: 700;
    text-transform: uppercase;
    margin: auto 0;
}

.informationHeading {
    padding: 0;
    margin: 10px 0;
}

.informationContainer {
    margin: 0;
    padding: 0;
}

.informationContainer img {
    max-width: 15vw;
    text-align: center;
}

.smallText {
    font-size: 12px;
}

#backlog li {
    padding: 0px;
    margin: 0 0 0 -20px;
    font-size: 12px;
}